* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F4F4F4;
}

a {
    text-decoration: none;
}

.main {
    background-color: black;
    height: 10px;
    width: 100%;
    overflow: hidden;
}

.header {
    min-height: 80px;
    width: 100%;
    overflow: hidden;
}

.header_wrapper {
    min-height: 80px;
    width: 70%;
    margin: 0px auto;
    border-bottom: 1px solid #C6C6C6;
    box-sizing: border-box;
}

.logo {
    min-height: 80px;
    width: 20%;
    float: left;
    overflow: hidden;
}

.logo img {
    height: 70px;
    width: 70%;
    margin-top: 5px;
    overflow: hidden;
}

.header_right {
    min-height: 80px;
    width: 80%;
    float: right;
}

.mail {
    min-height: 30px;
    width: 100%;
    overflow: hidden;
}

.mail label {
    color: #A8A8A8;
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.menubar {
    min-height: 50px;
    width: 100%;
    overflow: hidden;
}

.menubar ul {
    float: right;
    list-style: none;
    margin-top: 10px;
}

.menubar ul li {
    float: left;
    margin-left: 40px;
}

.menubar ul li a {
    color: #F9A414;
}

.menubar ul li a:hover {
    color: #272727;
}

.slider {
    min-height: 380px;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.slider_wrapper {
    background-image: url(../img/sliderBack.jpg);
    min-height: 380px;
    width: 70%;
    margin: 0px auto;
    overflow: hidden;
}

.slider_left {
    min-height: 380px;
    width: 50%;
    float: left;
    overflow: hidden;
}

.slider_left_top {
    min-height: 260px;
    width: 100%;
}

.slider_left_top img {
    min-width: 200px;
    width: 90%;
    margin-top: 40px;
    margin-left: 50px;
}

.slider_left_bottom {
    min-height: 46px;
    width: 90%;
    margin: 25px 0%;
    background-color: #000000;
    float: right;
}

.slider_left_bottom_left {
    min-height: 30px;
    width: 60%;
    margin: 13px 0%;
    float: left;
}

.slider_left_bottom_left label {
    color: #8C8C8C;
}

.slider_left_bottom_right {
    min-height: 30px;
    width: 40%;
    float: right;
    margin: 13px 0%
}

.slider_left_bottom_right a {
    color: #F59203;
}

.slider_right {
    min-height: 380px;
    width: 50%;
    float: right;
    position: relative;
}

.silder_img1 {
    float: right;
    position: absolute;
    left: 30px;
    top: 80px;
}

.silder_img2 {
    min-height: 350px;
    float: right;
    position: absolute;
    left: 145px;
    top: 20px;
}

.content {
    min-height: 150px;
    width: 100%;
    overflow: hidden;
}

.content_wrapper {
    min-height: 150px;
    width: 70%;
    margin: 0px auto;
    overflow: hidden;
    margin-top: 5px;
    border-top: 1px solid #C6C6C6;
    box-sizing: border-box;
}

.content_left {
    min-height: 250px;
    width: 30%;
    margin-right: 5%;
    float: left;
}

.content_top {
    min-height: 40px;
    width: 100%;
    margin-top: 15px;
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
}

.content_top i {
    margin-top: 2px;
    float: left;
}

.content_top h3 {
    float: left;
    margin-left: 5px;
    color: #000000;
}

.content_bottom {
    min-height: 200px;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
}

.content_bottom p {
    font-size: 12px;
    margin-bottom: 15px;
}

.content_bottom a {
    color: #F6A930;
}

.content_bottom label {
    color: #000000;
}

.content_middle {
    min-height: 250px;
    width: 30%;
    margin-right: 5%;
    float: left;
}

.content_middle_bottom {
    min-height: 75px;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
}

.content_middle_bottom i {
    float: left;
}

.content_middle_bottom p {
    float: left;
    font-size: 12px;
    width: 90%;
    margin-left: 13px;
}

.content_right {
    min-height: 250px;
    width: 30%;
    float: left;
}

.portfolio {
    min-height: 250px;
    width: 100%;
    overflow: hidden;
}

.portfolio_wrapper {
    min-height: 250px;
    width: 70%;
    margin: 0px auto;
    margin-top: 5px;
    border-top: 1px solid #C6C6C6;
    box-sizing: border-box;
}

.portfolio_top {
    min-height: 40px;
    width: 100%;
    margin-top: 15px;
}

.portfolio_top i {
    margin-top: 2px;
    float: left;
}

.portfolio_top h3 {
    float: left;
    margin-left: 20px;
    color: #000000;
}

.portfolio_bottom {
    min-height: 200px;
    width: 100%;
    overflow: hidden;
}

.portfolio_img {
    min-height: 200px;
    width: 22%;
    margin-right: 2.5%;
    float: left;
}

.contact {
    min-height: 150px;
    width: 100%;
    overflow: hidden;
}

.contact_wrapper {
    min-height: 150px;
    width: 70%;
    margin: 0px auto;
    margin-top: 5px;
    border-top: 1px solid #C6C6C6;
    box-sizing: border-box;
    overflow: hidden;
}

.contact_left {
    min-height: 150px;
    width: 70%;
    float: left;
}

.contact_top {
    min-height: 30px;
    width: 100%;
    margin-top: 20px;
}

.contact_top i {
    margin-top: 2px;
    float: left;
}

.contact_top h3 {
    float: left;
    margin-left: 20px;
    color: #000000;
}

.contact_bottom {
    min-height: 100px;
    width: 90%;
}

.contact_bottom p {
    font-size: 12px;
}

.contact_bottom i {
    margin-right: 15px;
}

.contact_right {
    min-height: 150px;
    width: 30%;
    float: right;
}

.footer {
    background-color: #E2E2E2;
    min-height: 80px;
    width: 100%;
    overflow: hidden;
}

.footer_wrapper {
    background-color: #E2E2E2;
    min-height: 80px;
    width: 70%;
    margin: 0px auto;
}

.footer_left {
    min-height: 80px;
    width: 70%;
    float: left;
}

.footer_left ul {
    width: 100%;
    float: left;
    list-style: none;
    font-size: 12px;
    margin-top: 20px;
}

.footer_left ul li {
    float: left;
    margin: 10px;
}

.footer_left ul li a {
    display: block;
    color: #727272;
    min-height: 10px;
    width: 115%;
    text-align: left;
    border-right: 1px solid #000000;
}

.footer_left label {
    font-size: 12px;
}

.footer_right {
    min-height: 80px;
    width: 30%;
    float: right;
}

.footer_right img {
    width: 35%;
    margin: 15px auto;
    float: right;
}
